body {
	background-color:powderblue;
}

h1 {
	text-align:center;
	color:red;
}

h3 {
	color:orange;
}

#title {
	text-align:center;
	font-family:consolas;
	font-size:24px;
}

a:link {
	color:blue;
	text-decoration:none;
}

a:hover {
	color:red;
	text-decoration:none;
{

a:active {
	color:blue;
	text-decoration:none;
}

button {
	padding:10px;
}
